body {
  margin: 0;
  height: 100vh;
  background-color: azure;
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 10% auto 10%;
  grid-template-areas: 
    "header header"
    "sidenav content"
    "footer footer";
}

#header, #content, #sidenav, #footer {
  border: 1px solid rgb(49, 100, 209);
}

#header {
  grid-area: header;
}
#content {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
}
#footer {
  grid-area: footer;
}
#sidenav {
  grid-area: sidenav;
}

.block {
  width: 300px;
  height: 300px;
  border: 2px solid rgb(64, 139, 168);
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  background-color: rgb(184, 236, 238);
}
.comida {
  text-align: center;
  background-color: rgb(198, 235, 223);
  display: flex;
}